@charset "utf-8";
/* common class */
.dtable{display: table;}

body{font-family: JGothic;background-color: #000;color: #fff;}
#header, #header.active::before{background-color:rgba(0, 0, 0, 1);}
#shop_main{position: relative;color: #fff;height: 802px;width: 100%;background: url("../images/culture/gift/bg/bg1.png") no-repeat center ;background-size: cover;margin-bottom: 50px;}
#shop_main .area{z-index: 10;}
#shop_main .bigBt{color: #fff;}
#shop_main img{padding-top: 210px;margin-bottom: 90px;}
#shop_main .bigBt {width: 100%;height: 70px;border: solid 2px #d41b21;border-radius: 10px;overflow: hidden;font-size: 20px;vertical-align: middle;}
#shop_main .bigBt li{float: left;height: 70px;transform: skewX(-15deg);}
#shop_main .bigBt li:first-child{position: absolute;top:-1px;left: -20px;width: 500px;}
#shop_main .bigBt li+li{position: absolute;top:0;left: 481px;width: 800px;}
#shop_main .bigBt li a{display: inline-block;transform: skewX(15deg);line-height: 70px;height: 70px;}
#shop_main .bigBt li a:first-child{position: absolute;top: 0;left: 20px;width: 500px;padding-left: 35px;}
#shop_main .bigBt .af a::after, #shop_main .bigBt .al a::after{content: "";background: url("../images/culture/gift/icon/pointer.png");width: 142px;height: 19px;position: absolute;top: 24px;}
#shop_main .bigBt .af a::after{left: 280px;}
#shop_main .bigBt .al a::after{left: 490px;}
/* hover */
#shop_main .bigBt li:hover, #shop_main .bigBt li:focus{background:#d41b21;transition: 1s all;}
/* 탭리스트 */
#content .line::after{content:"";position: absolute;top:902px;left: 0;width: 100%;height: 2px;background: #ed1c24;}
.shoplist{width: 1200px;height: 50px;}
.shoplist li{float: left;width: 200px;text-align: center;height: 52px;line-height: 52px; margin-bottom: 180px;}
.shoplist li a{display:inline-block;height: 52px;width: 200px;}
.shoplist li:hover, .shoplist li:focus{background: #ed1c24; border-radius:10px 0 0 0;}
/* 각 항목 별 margin-bottom */

/* 제목 스타일 */
h3{font-size: 24px;color: #fff;font-weight: 400;margin-left: 5px;text-align: left;display: inline-block;}
.tit1,.tit2{border-bottom: 2px solid #fff; padding-bottom: 9px;box-sizing: border-box;width: 200px;margin-bottom: 90px;}
.tit1{width: 152px;}
.tit2{width: 214px;}

/* 작은제목스타일 */
#content strong{position: relative;color:#000;font-size: 30px;margin-left: 30px; line-height: 82px;}
#content strong::after{content: "";position: absolute;top: 53px;left: -30px;height: 3px;width: 554px;background: #000;}
/* 글씨 크기 바꾸고 싶으면(작은제목), 라인하이트 조절하고 after의 탑좌표도 조정해 주어야해욤 */
.class a{display: inline-block;}
/* snack style */
#section .group{position: absolute;top: 1500px;left: 0;} 
.snack{float: left;width: 554px;height: 552px;border-radius: 10px;background: #fff; margin-bottom: 82px;overflow: hidden;}
.snack:nth-child(2){margin-left: 80px;}
.snack:nth-child(4){margin-left: 80px;}

.snack > ul > li, .snack .over{box-sizing: border-box;}
.snack > ul > li{position: relative;float: left;width: 50%;text-align: center;}
.snack > ul > li:last-child{border-top: 3px solid #000;}
.snack .longouter{height: 470px;border-right:3px solid #000;}
.snack .shortouter{height: 235px;}
.snack .dtable > div{display: table-cell;vertical-align: middle;}
.snack .over{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding-top: 55px;background:rgba(0,0,0,.7);opacity: 0;transition: all 0.5s;}

/* li에 오버하면 스크립트에서 li.on이 되어 보여진다 */
.snack ul li.on .over{opacity: 1;}
.snack .longouter+.over{padding-top: 155px;}
.snack .over .name{font-size: 28px;font-weight: 400;}
.snack .over .price{font-size: 20px;margin: 10px 0 35px;}
.snack .over ul li{display: inline-block;}
.snack .over ul li+li{padding-left: 8px;}

/* img가 아닌 a에게 스타일을 주어야 합니다 */
.snack .over ul li a{display:block;background:#fff;width: 25px;height: 25px;border-radius: 50%;text-align: center;padding: 5px;}
.snack .over ul li a:hover, .snack .over ul li a:focus{background: #adadad;}

.snack .more_black{position: absolute; top: 32px;right: 23px;height: 17px;width: 18px;}
/* package style */
.grouppk{padding-top: 130px;margin-bottom: 140px;}
.grouppk > ul >li{position: relative;float: left;width: 25%;text-align: center;}
.grouppk .package > div{width: 281px;overflow: hidden; border-radius: 10px;}
/* .grouppk > ul >li, .grouppk .package > div{} */
/* over */
.package .over{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,.7);opacity: 0;transition: all 0.5s;}
.grouppk ul li.on .over{opacity: 1;}
.package .over .name{font-size: 22px;font-weight: 400;padding-top: 40px;}
.package .over .price{font-size: 18px;margin: 10px 0 20px;}
.package .over ul li{display: inline-block;}
.package .over ul li+li{padding-left: 8px;}

.grouppk > .hh a{position: absolute;top: 4px;left: 144px;}
/* img가 아닌 a에게 스타일을 주어야 합니다 */
.package .over ul li a{display:block;background:#fff;width: 25px;height: 25px;border-radius: 50%;text-align: center;padding: 5px;}
.package .over ul li a:hover, .snack .over ul li a:focus{background: #adadad;}
/* bx-silder */
.oo .ff{float: left;width: 50%}
.oo .half a{ margin-right: 363px;}
.oo .p_r > a{position: absolute; top: 4px;right: 0;}
.half{width: 583px;}
#moviepass{overflow: hidden;border-radius: 10px;background-color: #fff;width: 583px;height: 236px;}
.ff:first-child .bx-controls-direction .bx-prev{display: inline-block;position: absolute;top: 87px;left: 24px;;width: 30px;height: 64px;background-image: url("../images/culture/gift/icon/prev.png");}
.ff:first-child .bx-controls-direction .bx-next{display: inline-block;position: absolute;top: 87px;right: 24px;;width: 30px;height: 64px;background-image: url("../images/culture/gift/icon/next.png");}

#card{overflow: hidden;border-radius: 10px;background-color: #fff;width: 583px;height: 236px;}
.ff:nth-child(2) .bx-controls-direction .bx-prev{display: inline-block;position: absolute;top: 213px;left: 24px;;width: 30px;height: 64px;background-image: url("../images/culture/gift/icon/prev.png");}
.ff:nth-child(2) .bx-controls-direction .bx-next{display: inline-block;position: absolute;top: 213px;right: 35px;width: 30px;height: 64px;background-image: url("../images/culture/gift/icon/next.png");}

/* footer black.ver */
#footer{color: #fff;}
.foot-top{margin-top: 700px;;border-bottom:1px solid #5e5e5e;border-top:1px solid #5e5e5e;}
.family > a, .family #familysite{background: #000;}
