@charset "utf-8";
@font-face{
    font-family: JGothic;
    font-weight: 300;
    font-style: normal;
    src: url("../font/JejuGothic.eot");
    src: url("../font/JejuGothic.eot#iefix") format("embedded-opentype"),
    url("../font/JejuGothic.woff") format("woff"),
    url("../font/JejuGothic.woff2") format("woff2"),
    url("../font/JejuGothic.otf") format("opentype");
}
@font-face{
    font-family: NtSansKR;
    font-weight: 300;
    font-style: normal;
    src: url("../font/NotoSansKR-Regular.eot");
    src: url("../font/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"),
    url("../font/NotoSansKR-Regular.woff") format("woff"),
    url("../font/NotoSansKR-Regular.woff2") format("woff2"),
    url("../font/NotoSansKR-Regular.otf") format("opentype");
}
@font-face{
    font-family: NtSansKR;
    font-weight: 700;
    font-style: normal;
    src: url("../font/NotoSansKR-Bold.eot");
    src: url("../font/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"),
    url("../font/NotoSansKR-Bold.woff") format("woff"),
    url("../font/NotoSansKR-Bold.woff2") format("woff2"),
    url("../font/NotoSansKR-Bold.otf") format("opentype");
}
/* tag reset */
body, ul, h1, h2, h3, h4, h5, h6{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul, nav{list-style: none;}
select{font-family: inherit;font-size: inherit;color: inherit;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
header, nav, section, footer{display: block;}

body{font-family: "NtSansKR";font-size: 16px;color: inherit;}
#skip a{position: fixed;left: -9999px;top: 0;width: 0;height: 0;z-index: 100;}
#skip a:focus{left: 0;width: 100%;height: 33px;text-align: center;line-height: 33px;font-size: 16px;color: #ed1c24;background-color: #bcbcbc;}

/* common class */
.blind-i, .blind-b{width: 1px;height: 1px;overflow: hidden;border: 0px;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%)}
.blind-i{margin-left: -1px;display: inline-block;}
.blind-b{position: absolute;}
.area{width: 1200px;margin: 0 auto;}
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}
/* 이 부분 다시 복습해서 알아내야.. */

/* header - index만 fixed */
#headerwrap{position: fixed;width: 100%;left: 0;top: 0;z-index: 100;}
#header{position: relative;height: 65px;border-bottom: 2px solid rgba(255,255,255,0.2);font-family: "JGothic";background: rgba(0, 0, 0, 0.6);z-index: 100;}

#header.active::before{content: "";position: absolute;top: 67px;left: 0;width: 100%;height: 65px;background: rgba(0, 0, 0, 0.6);border-bottom: 2px solid rgba(255,255,255,0.4);}
.logo{float: left;margin-right: 78px;padding-top: 15px;}
#gnb{float: left;position: relative;width: 500px;height: 100%;}

#header .main_menu{position: relative;}
#header .main_menu > li{position: relative;float: left;margin-right: 45px;font-size: 18px;line-height: 70px;color: #fff;}
#header .main_menu li ul{position: absolute;top: 67px;width: 550px;}
#header .main_menu li ul li{float: left;margin-right: 40px;font-size: 16px;}

/* 가상요소 - 붉은 점 */
#header .main_menu li a{position: relative;}
#header .main_menu li a::after{content: "";position: absolute;right: -15px;top: -5px;}

/* main_menu 활성화 */
#header .main_menu li:hover > a, #header .main_menu li > a:focus, #header .main_menu li.on > a{color: #ed1c24;}
#header .main_menu li a:hover::after, #header .main_menu li a:focus::after,#header .main_menu li.on > a::after{width: 5px;height: 5px;border-radius: 50%;background: #ed1c24;}

/* all_menu_btn */
#header .all_menu_btn{position: absolute;top: 20px;right: 40px;width: 28px;height: 33px;}
#header .all_menu_btn span{position: absolute;width: 28px;height: 2px;background: #fff;}
#header .all_menu_btn:hover span, #header .all_menu_btn:focus span{background: #ed1c24;}
#header .all_menu_btn span:nth-child(1){top: 3px;}
#header .all_menu_btn span:nth-child(2){top: 13px;}
#header .all_menu_btn span:nth-child(3){top: 23px;}
/* 색 전환이 자유롭지 못하다. */

/* all_menu_btn 활성화 */
#header .all_menu_btn.close span{background-color: #fff;}
#header .all_menu_btn.close:hover span, #header .all_menu_btn.close:focus span{background-color: #ed1c24;}
#header .all_menu_btn.close span:nth-child(1){top: 13px;transform: rotate(45deg);}
#header .all_menu_btn.close span:nth-child(2){opacity: 0;}
#header .all_menu_btn.close span:nth-child(3){top: 13px;transform: rotate(-45deg);}

#header .all_menu{display: none;position: absolute;top: 67px;width: 1200px;height: 100vh;padding: 33px 156px;box-sizing: border-box;background: #1d1d1d;color: #fff;}
#header .all_menu > ul > li{float: left;width: 168px;height: 215px;margin-left: 50px;}
#header .all_menu > ul > li > a{display: inline-block;padding-bottom: 12px;color: #ed1c24;font-size: 18px;}
#header .all_menu li > ul > li > a{display: inline-block;padding-bottom: 8px;color: #fff;font-size: 16px;}

/* footer */
#footer {height: 350px;}
#fp-nav ul li:last-child{width: 1px;height: 1px;overflow: hidden;position: absolute;border: none;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}

.family{position: relative;width: 300px;margin: 200px auto;background: pink;} /* 크기는 자신의 페이지에 맞게 조절하세요 */
.family > a, .family #familysite{border: 1px solid #999;padding: 3px 5px;line-height: 27px;box-sizing: border-box;}
.family > a{float: left;}
.family .fsite{margin-right: 10px;}
.family .fsite, .family #familysite{width: 200px;}
.family #familysite{display: none;position: absolute;top: 34px;left: 0;}
.family #familysite a{display: block;padding-left: 10px;}


