@charset "utf-8";

@font-face {
	font-family: JGothic;
	font-weight: 300;
	font-style: normal;
	src: url("../font/JejuGothic.eot");
	src: url("../font/JejuGothic.eot#iefix") format("embedded-opentype"),
		url("../font/JejuGothic.woff") format("woff"),
		url("../font/JejuGothic.woff2") format("woff2"),
		url("../font/JejuGothic.otf") format("opentype");
}

@font-face {
	font-family: NtSansKR;
	font-weight: 200;
	font-style: normal;
	src: url("../font/NotoSansKR-Light.eot");
	src: url("../font/NotoSansKR-Light.eot#iefix") format("embedded-opentype"),
		url("../font/NotoSansKR-Light.woff") format("woff"),
		url("../font/NotoSansKR-Light.woff2") format("woff2"),
		url("../font/NotoSansKR-Light.otf") format("opentype");
}

@font-face {
	font-family: NtSansKR;
	font-weight: 300;
	font-style: normal;
	src: url("../font/NotoSansKR-Regular.eot");
	src: url("../font/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"),
		url("../font/NotoSansKR-Regular.woff") format("woff"),
		url("../font/NotoSansKR-Regular.woff2") format("woff2"),
		url("../font/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
	font-family: NtSansKR;
	font-weight: 700;
	font-style: normal;
	src: url("../font/NotoSansKR-Bold.eot");
	src: url("../font/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"),
		url("../font/NotoSansKR-Bold.woff") format("woff"),
		url("../font/NotoSansKR-Bold.woff2") format("woff2"),
		url("../font/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
	font-family: CJBold;
	font-weight: 700;
	font-style: normal;
	src: url("../font/CJONLYONEBold.eot");
	src: url("../font/CJONLYONEBold.eot#iefix") format("embedded-opentype"),
		url("../font/CJONLYONEBold.woff") format("woff"),
		url("../font/CJONLYONEBold.woff2") format("woff2"),
		url("../font/CJONLYONEBold.otf") format("opentype");
}

/* tag reset */
body, ul, h1, h2, h3, h4, h5, h6, p, strong, figure, img {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

ul, nav {
	list-style: none;
}

img {
	border: none;
	vertical-align: top;
}

select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}

button {
	font-family: inherit;
	background: none;
	border: none;
}

address {
	font-style: normal;
}

header, nav, section, footer, address {
	display: block;
}

body {
	font-family: "NtSansKR";
	font-size: 16px;
	color: inherit;
}

#skip a {
	position: fixed;
	left: -9999px;
	top: 0;
	width: 0;
	height: 0;
	z-index: 1000;
}

#skip a:focus {
	left: 0;
	width: 100%;
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	text-align: center;
	color: #ed1c24;
	background-color: #adadad;
}

/* common class */
.blind-i,
.blind-b {
	width: 1px;
	height: 1px;
	border: 0px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

.blind-i {
	display: inline-block;
	margin-left: -1px;
}

.blind-b {
	position: absolute;
}

.area {
	width: 1200px;
	margin: 0 auto;
}

.p_r {
	position: relative;
}

.p_a {
	position: absolute;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* header */
#headerwrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
}

#header {
	position: relative;
	height: 65px;
	font-family: "JGothic";
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	z-index: 100;
}

#header.active::before {
	content: "";
	position: absolute;
	left: 0;
	top: 67px;
	width: 100%;
	height: 65px;
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.logo {
	float: left;
	padding-top: 15px;
	margin-right: 78px;
}

#gnb {
	float: left;
	position: relative;
	width: 500px;
	height: 100%;
}

#header .main_menu {
	position: relative;
}

#header .main_menu>li {
	position: relative;
	float: left;
	margin-right: 45px;
	line-height: 70px;
	font-size: 18px;
}

#header .main_menu li ul {
	position: absolute;
	top: 64px;
	width: 550px;
}

#header .main_menu li ul li {
	float: left;
	margin-right: 40px;
	font-size: 16px;
}

#header .main_menu li a {
	position: relative;
}

#header .main_menu li a::after {
	content: "";
	position: absolute;
	right: -15px;
	top: -5px;
}

/* main_menu 활성화 */
#header .main_menu li:hover>a,
#header .main_menu li>a:focus,
#header .main_menu li.on>a {
	color: #ed1c24;
}

#header .main_menu li a:hover::after,
#header .main_menu li a:focus::after,
#header .main_menu li.on>a::after {
	width: 5px;
	height: 5px;
	background: #ed1c24;
	border-radius: 50%;
}

/* all_menu_btn */
#header .all_menu_btn {
	position: absolute;
	right: 40px;
	top: 20px;
	width: 28px;
	height: 33px;
}

#header .all_menu_btn span {
	position: absolute;
	width: 28px;
	height: 2px;
	background: #fff;
	transition: all 0.3s;
}

#header .all_menu_btn:hover span {
	background: #ed1c24;
}

#header .all_menu_btn span:nth-child(1) {
	top: 3px;
}

#header .all_menu_btn span:nth-child(2) {
	top: 13px;
}

#header .all_menu_btn span:nth-child(3) {
	top: 23px;
}

/* all_menu_btn 활성화 */
#header .all_menu_btn.close span {
	background-color: #fff;
}

#header .all_menu_btn.close:hover span,
#header .all_menu_btn.close:focus span {
	background-color: #ed1c24;
}

#header .all_menu_btn.close span:nth-child(1) {
	top: 13px;
	transform: rotate(45deg);
}

#header .all_menu_btn.close span:nth-child(2) {
	opacity: 0;
}

#header .all_menu_btn.close span:nth-child(3) {
	top: 13px;
	transform: rotate(-45deg);
}

#header .all_menu {
	opacity: 0;
	display: none;
	position: absolute;
	top: 67px;
	box-sizing: border-box;
	width: 1200px;
	height: 100vh;
	background: url("../images/common/bg1.png") no-repeat top center;
}

#header .all_menu>ul {
	width: 888px;
	height: 714px;
	margin: 32px auto;
}

.all_menu>ul>li {
	float: left;
	width: 168px;
	height: 140px;
	margin-left: 50px;
}

.all_menu>ul>li:nth-child(5),
.all_menu>ul>li:nth-child(6),
.all_menu>ul>li:nth-child(7),
.all_menu>ul>li:nth-child(8) {
	height: 212px;
}

#header .all_menu>ul>li>strong {
	display: inline-block;
	padding-bottom: 6px;
	margin-bottom: 6px;
	font-size: 16px;
	color: #ed1c24;
}

#header .all_menu li>ul>li>a {
	position: relative;
	display: inline-block;
	padding-bottom: 8px;
	font-size: 14px;
	color: rgb(209, 209, 209);
}

#header .all_menu li>ul>li>a:hover,
#header .all_menu li>ul>li>a:focus {
	color: #ed1c24;
}

#header .all_menu li>ul>li>a::after {
	content: "";
	position: absolute;
	right: -8px;
	top: -3px;
}

#header .all_menu li>ul>li>a:hover::after,
#header .all_menu li>ul>li>a:focus::after {
	width: 4px;
	height: 4px;
	background: #ed1c24;
	border-radius: 50%;
}

/* footer */
#fp-nav ul li:last-child {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	border: none;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
}

#footer {
	position: relative;
	width: 100%;
	height: 400px;
	font-family: "JGothic";
	color: #adadad;
}

.foot-top {
	margin-top: 80px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#footer .special_theater {
	height: 72px;
}

.special_theater a {
	float: left;
	height: 72px;
	margin-right: 23px;
	line-height: 72px;
}

.special_theater a img {
	vertical-align: middle;
}

.big-info li {
	float: left;
	position: relative;
	margin: 40px 18px 40px 0px;
	line-height: 16px;
	font-size: 16px;
}

.big-info li::after {
	content: "";
	position: absolute;
	right: -9px;
	top: 1px;
	width: 1px;
	height: 14px;
	background: #adadad;
}

.big-info li:last-child::after {
	display: none;
}

.big-info li a {
	text-align: center;
}

#footer .big-info li a:hover,
.big-info li a:focus {
	color: #5e5e5e;
	text-decoration: underline;
}

.cgv-info {
	height: 70px;
}

.cgv-info .address {
	float: left;
	width: 950px;
	height: 200px;
	margin-top: 6px;
	line-height: 22px;
	font-size: 14px;
}

.cgv-info .address>* {
	float: left;
}

.cgv-info .address>p {
	margin-right: 20px;
	margin-top: 12px;
}

.address span {
	position: relative;
	margin-right: 4px;
}

.address span::after {
	content: "";
	position: absolute;
	right: -5px;
	top: 1px;
	width: 1px;
	height: 12px;
	background: #adadad;
}

.address div span:nth-of-type(3)::after,
.address span:last-child::after {
	display: none;
}

.address div a {
	display: inline-block;
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid #adadad;
	border-radius: 4px;
}

.address>div>div {
	margin-bottom: 6px;
}

.address a:hover,
.address a:focus {
	background: #adadad;
	color: #fff;
}

/* foot-right */
.foot-right {
	float: right;
	width: 250px;
}

.family {
	position: relative;
	width: 300px;
	height: 36px;
	margin: 0px auto;
	font-size: 16px;
}

.family>a,
.family #familysite {
	box-sizing: border-box;
	padding: 3px 5px;
	line-height: 27px;
	background: #fff;
	border: 1px solid #adadad;
	border-radius: 4px;
}

.family>a {
	float: left;
	width: 36px;
	height: 36px;
}

.family span {
	display: block;
	cursor: pointer;
}

.family .fsite {
	width: 185px;
	height: 36px;
	margin-right: 10px;
}

.family #familysite {
	display: none;
	position: absolute;
	left: 0;
	bottom: 34px;
	width: 185px;
}

.family #familysite a {
	display: block;
	padding-left: 10px;
}

.family #familysite a:hover,
.family #familysite a:focus {
	color: #fff;
	background: #adadad;
}

.family>.btn_submit:hover,
.family>a.btn_submit:focus {
	color: #fff;
	background: #adadad;
}

.foot-right .copyright {
	clear: both;
	padding-left: 40px;
	padding-top: 10px;
	font-size: 14px;
}

.sns_list {
	width: 90px;
	float: right;
}

.sns_list .sns_i {
	float: left;
	width: 27px;
	height: 27px;
	margin-top: 8px;
}

.sns_list a:hover .sns_i,
.sns_list a:focus .sns_i {
	color: #5e5e5e;
}