@charset "utf-8";

body{font-family: JGothic;color: #fff;font-weight: 400;background: #000;}
#header, #header.active::before{background-color:rgba(0, 0, 0, 1);}
#cnt-d-main {position: relative;height: 950px;background: url("../images/detail/tenet_wide.png") no-repeat;text-align: right;background-size: cover;}
#detail_op {position: absolute;top: 0;left: 50%;height: 950px;width: 50%;background: rgba(0, 0, 0, 0.5);}

/* #cnt-d-main */
#tt_g{position: relative; float: left; width: 600px;box-sizing: border-box;padding-top: 50px;}
#title{padding-top: 111px;padding-left: 5%;}
#title ,#sub1, #sub2{display: inline-block; }
#title .Ellipse{display: inline-block;width: 45px;height: 45px;background: #3862eb;font-size: 21px;border-radius: 50%;text-align: center;line-height: 45px;margin-right: 15px;}
#title .Ellipse, #title .title{vertical-align: middle;margin-bottom: 9px;}
#title > .title{display: inline-block;font-size: 48px;font-weight: 400;}
#title p{font-size: 24px;margin-bottom: 80px;}

#sub1 p:first-child{font-size: 24px;line-height: 20px;margin-bottom: 10px;}
#sub1 p+p{font-size: 16px;line-height: 23px;margin-bottom: 54px;}

#sub2 p:first-child{font-size: 16px;line-height: 20px;margin-bottom: 15px;}
#sub2 .scrollSt{width: 416px;height: 197px;border-radius: 6px;box-shadow: inset 0 0 105.8px 90.2px #000000;background-color:rgba(0, 0, 0, 0.5);}
#sub2 .scrollSt::-webkit-scrollbar{width: 10px;}
#sub2 .scrollSt::-webkit-scrollbar-track{background-color: #808080;border-radius: 6px;}
#sub2 .scrollSt::-webkit-scrollbar-thumb{border-radius: 6px;background-color: #fff;}
#sub2 .scrollSt::-webkit-scrollbar-button {display: none;}
#sub2 .scrollSt p{font-size: 14px;line-height: 22px;margin-right: 3%;}
#scroll{overflow: auto;}

#cnt-d-main a{position: absolute;bottom: -90px;right: 0;width: 180px;height: 50px;border: solid 2px #fbfbfb; border-radius: 10px;font-size: 22px;line-height: 50px;text-align: center;}
#cnt-d-main a:hover, #cnt-d-main a:focus{background:#ed1c24;border: solid 2px #ed1c24;}

#cnt-d-tab{position: relative;}
#cnt-d-tab .tablist{padding-top: 40px;margin-bottom: 53px;cursor: pointer;}
#cnt-d-tab .tablist::after{content:"";position: absolute;top:89px;left: 0;height: 2px;background: #ed1c24;width: 100%;box-sizing: border-box;}
#cnt-d-tab .tab{float: left;width: 25%;text-align: center;font-size: 24px;height: 50px;vertical-align: middle;line-height: 50px;}
#cnt-d-tab .tab:hover, #cnt-d-tab .tab:focus, #cnt-d-tab .tab.active{border-radius: 30px 0 0 0;background: #ed1c24;}

/* 탭 주요정보 */
.tabpanel{width: 100%; font-weight: 400;padding-top: 50px;}
#keyinfo .area1{display: inline-block;margin-bottom: 53px;width: 100%;height: 202px;box-sizing: border-box;}
#keyinfo .area1::after{content: "";position: absolute;top:300px;left: 0;opacity: 0.2;background-color: #fbfbfb;width: 100%;height: 2px;}
#keyinfo .area2{height: 380px;width: 100%;display: inline-block;box-sizing: border-box;margin-bottom: 20px;}
#keyinfo li{float: left;vertical-align: middle;height: 202px;}
#keyinfo .describe{font-size: 44px;line-height: 58px; font-weight: 400;margin-left: 40px;margin-right: 335px;}
#keyinfo .percent{width: 120px;height: 53px;text-align: center;}
#keyinfo .percent:first-child{margin-left: 335px;}
#keyinfo .percent + .percent{padding-left: 90px;}
#keyinfo .percent p{display: inline-block;font-size: 20px;line-height: 35px;}
#keyinfo .percent strong{display: inline-block;font-size: 58px;line-height: 60px;font-weight: 500;padding-top: 18px;}

/* 탭 활성화 */
#cnt-d-tab .tabpanel{display: none;}
#cnt-d-tab .tabpanel.active{display: block;}

/* #chart */
#chart strong {display: inline-block;text-align: center;font-weight: 400;font-size: 20px;margin-bottom: 60px;width: 300px;}
#chart ul > li{float: left;width: 300px;}
#chart .sex{display: inline-block;width: 300px;height: 300px;}
#chart .sex .st{width: 300px;height: 300px;}
#chart .person{display: inline-block;height: 51px;padding-top: 10px;}
#chart .person .manper, #chart .person .womanper{position: absolute;left: 62px;}
#chart .person .manper{top: 60px;}
#chart .person .womanper{top: 125px;}
#chart .person p{line-height: 73px; margin-left: 30px;display: inline-block;}
#chart .person .manper p{color:  #ed1c24; font-size: 36px;font-weight: 600;}
#chart .person .womanper p{font-size: 28px;font-weight: 400;}
#chart li:first-child div{display: inline-block;width: 300px;height: 50px;}
#chart li:first-child div img{float: left; width: 51px;}
#chart li:first-child div p{float: left;width: 200px;}

#chart .ages{width: 300px;height: 300px;}
#chart .ages p{position: absolute; top: 336px;}
#chart .ages .age1{left: 15px;}
#chart .ages .age2{left: 64px;}
#chart .ages .age3{left: 112px;}
#chart .ages .age4{left: 161px;}
#chart .ages .age5{left: 213px;}
#chart .ages img{padding-top: 50px;}
/* 배경이미지 가로199, 세로189 */
#chart .pentagon{width: 300px;height: 300px;padding: 55.5px 50.5px;box-sizing: border-box;background: url("../images/detail/icon/pentagon.gif") no-repeat center;}
#chart .pentagon p{position: absolute;}
#chart .pentagon .value1{top: 34px;left: 121px;}
#chart .emotion .pentagon .value1{top: 34px;left: 108px;}
#chart .pentagon .value2{top: 123px;left: 253px;}
#chart .pentagon .value3{top: 240px;left: 220px;}
#chart .pentagon .value4{top: 240px;left: 17px;}
#chart .pentagon .value5{top: 123px;left: 17px;}
#chart .charm .pentagon svg{width: 199px;height: 189px;}
#chart .charm .pentagon svg polygon{fill: rgba(255,0,0,.5);stroke: none;}

#chart .emotion .pentagon svg{width: 199px;height: 189px;}
#chart .emotion .pentagon svg polygon{fill: rgba(255,0,0,.5);stroke: none;}


/* #trailer */
#trailer .swiepr-container{
  width: 100%;
  height: auto;
  margin: 0 auto;
}  

#trailer .swiper-slide{
  background: no-repeat center / cover; 
  text-align: center;
}

#trailer .gallery-thumbs{
  box-sizing: border-box;
  padding: 10px 0;
}

#trailer .gallery-thumbs .swiper-slide{
  opacity: 0.4;
  width: 206px !important;
  height: 116px !important;
  margin-right: 42.5px !important;
}

#trailer .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

#trailer .gallery-thumbs .swiper-slide:nth-child(1){
    background-image: url("../images/detail/tumb-mov1.jpg");
  }
#trailer .gallery-thumbs .swiper-slide:nth-child(2){
    background-image: url("../images/detail/tumb-mov2.jpg");
  }
#trailer .gallery-thumbs .swiper-slide:nth-child(3){
    background-image: url("../images/detail/tumb-mov3.jpg");
  }
#trailer .gallery-thumbs .swiper-slide:nth-child(4){
    background-image: url("../images/detail/tumb-mov4.jpg");
  }
#trailer .gallery-thumbs .swiper-slide:nth-child(5){
    background-image: url("../images/detail/tumb-mov5.jpg");
  }
#trailer .gallery-thumbs .swiper-slide:nth-child(6){
    background-image: url("../images/detail/tumb-mov6.jpg");
  }
#trailer .gallery-thumbs .swiper-slide:nth-child(7){
    background-image: url("../images/detail/tumb-mov7.jpg");
  }
#trailer .gallery-thumbs .swiper-slide:nth-child(8){
    background-image: url("../images/detail/tumb-mov8.jpg");
  }


/* 메인 슬라이더 */
#trailerSlider{width: 1200px;height: 830px;}
#bxslider>li {margin-bottom: 50px;}
#bxslider>li video{width: 1200px;}

/* 썸네일 슬라이더 */
#trailerSlider #bxslider-pager img{width: 206px;}
#trailerSlider .bx-wrapper:nth-child(2){position: relative;width: 1030px;margin: 0 auto;}
  /* 이전 , 다음 버튼*/
#trailerSlider .bx-controls-direction a{position: absolute;top: 50%;transform: translateY(-50%);width: 11px;height: 23px;z-index: 100;}
#trailerSlider .bx-controls-direction a.disabled{display: none;}/* 비활성화된 버튼 숨기기 */
#trailerSlider .bx-controls-direction .bx-prev{left: -50px;background: url("../images/detail/btn_prev.png");}
#trailerSlider .bx-controls-direction .bx-next{right: -50px;background: url("../images/detail/btn_next.png");}

/* #stealcut */
#stealcut ul li{float: left;}
#stealcut img{
  cursor: pointer;
}
#dim, .md_cnt{position: fixed;z-index: 900;}
#dim{left: 0;top: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .7);}

#modal_stealcut{
  visibility: hidden; 
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 0;
  line-height: 0;
}

#modal_stealcut img{
  display: block;
  max-height: 100vh;
  margin-bottom: -2px;
}

#modal_stealcut .prev_next{
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  font-size: 30px;
  text-align: center;
  color: #000;
  background: rgba(255, 255, 255, .6);
  cursor: pointer;
}

#modal_stealcut .prev{
  left: -60px;
}

#modal_stealcut .next{
  right: -60px;
}

#modal_stealcut .prev_next:focus, #modal_stealcut .prev_next:hover{
  text-shadow: 0 0 10px #fff;
  background: rgba(255,0,0,.9);
  box-shadow: 0 0 20px #000;
}

#modal_stealcut .md_close_btn{
  position: absolute;
  top: 0;
  right: -110px; 
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.md_close_btn:hover .x-btn, .md_close_btn:focus .x-btn{
  background: #ed1c24;
  box-shadow: 0 0 20px #fff;
}

.md_close_btn .x-btn{
  display: inline-block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 4px;
  background: #fff;
}

.md_close_btn .x-btn:nth-of-type(2){
  transform: rotate(45deg);
}

.md_close_btn .x-btn:nth-of-type(3){
  transform: rotate(-45deg);
}


/* #review */
#review ul{width: 1200px;height: 850px;}
#review ul li{position: relative;float: left;width: 600px;height: 154px;margin-bottom: 10px;box-sizing: border-box;}

#review .reviewer{display: inline-block;margin: 10px 40px 0 50px;height: 154px;vertical-align: top;font-family: "CJBold";font-weight: 700;font-size: 10px;color: #e097ff;}
#review .reviewer span{position: absolute;bottom: 50px;left: 34px;}

#review .review_cnt{display: inline-block;width: 420px;height: 150px;padding-right: 20px;font-family: "NTSansKR";}
#review .review_cnt > div{margin: 10px 0 16px 0;}
#review .review_cnt strong{font-size: 18px;}
#review .review_cnt img{margin: 0 8px 8px;width: 45px;height: auto;vertical-align: middle;}
#review .review_cnt span{color: #aaaaaa;font-size: 15px;float: right;}
#review .review_cnt p{font-size: 18px;height: 130px;}

#review .paging{width: 620px;height: 23px;margin: 0 auto;}
#review .paging li{float: left;font-family: NtSansKR;font-size: 18px;width: auto;height: auto;}
#review .paging li + li{margin-left: 30px;}
#review .paging li:nth-child(2){margin-left: 0;}
#review .paging li a{padding-bottom: 2px;border-bottom: 1px solid transparent;transition: all 0.2s;}
#review .paging li a:hover, #review .paging li a:focus, #review .paging li:nth-child(2) a{color: #ed1c24;border-bottom: 1px solid #ed1c24;}
#review .paging li:first-child, #review .paging li:last-child{width: 10px;height: 21px;margin-bottom: 0;margin-top: 3.5px;background-position: cover;}
#review .paging li:first-child a, #review .paging li:last-child a{display: inline-block;width: 8px;height: 17px;}
#review .paging li:first-child{margin-right: 46px;background: url("../images/detail/btn_prev_x.png") center;}
#review .paging li:last-child{margin-left: 42px;background: url("../images/detail/btn_next.png") center;}

/* blackfooter */
#footer{color: #fff;background: #000;}
.foot-top{border-bottom:1px solid #5e5e5e;border-top:1px solid #5e5e5e;}
.family > a, .family #familysite{background: #000;}