/* #cnt_now */
#cnt_now #mov-1{background: url("../images/index/mov-1.jpg") top center;background-size: cover;}
#cnt_now #mov-2{background: url("../images/index/mov-2.jpg") top center;background-size: cover;}
#cnt_now #mov-3{background: url("../images/index/mov-3.jpg") top center;background-size: cover;}

/* #s_moviechart */
