/* #cnt_now */
/* 디자인을 살려 슬라이더 만들 수 있을까 */
#cnt_now #mov-1{background: url("../images/index/mov-1.jpg") top center;background-size: cover;}
#cnt_now #mov-2{background: url("../images/index/mov-2.jpg") top center;background-size: cover;}
#cnt_now #mov-3{background: url("../images/index/mov-3.jpg") top center;background-size: cover;}

/* #s_moviechart */
#s_moviechart{color: #fff;text-align: center;}
#s_moviechart .tab{display: inline-block;padding-bottom: 4px;font-family: JGothic;font-weight: 400;font-size: 36px;border-bottom: 2px solid transparent;}
#s_moviechart .tab+.tab{margin-left: 200px;}
#s_moviechart .tab:hover, #s_moviechart .tab:focus{color: #ed1c24;border-bottom: 2px solid #ed1c24;}