@charset "utf-8";
body, ul{margin: 0;padding: 0;}
ul{list-style: none;}

body{font-size: 16px;font-weight: 400;color: #555;}

/* #infraTab */
/* 1). 탭크기 설정 */
#infraTab{width: 1200px;margin: 100px auto;border: 1px solid tomato;}
/* 2). 탭그룹 */
#infraTab > .tablist{height: 70px;margin-bottom: 55px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
/* 3). 탭버튼 */
#infraTab > .tablist > .tab{float: left;width: 25%;height: 70px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; border: 1px solid #e1e1e1;text-align: center;line-height: 68px;}
#infraTab > .tablist > .tab + .tab{border-left: none;}
/* 4). 탭패널 - 오버, 포커스, 활성화 (li.active) */
#infraTab > .tablist > .tab:hover, #infraTab > .tablist > .tab:focus, #infraTab > .tablist > .tab.active{background: #222;color: #fff;cursor: pointer;}
/* 5). 탭패널 - 모두 숨기고 활성화된(div. tabpanel.active) 하나만 보여지게 함. */
#infraTab .tabpanel{display: none;}
#infraTab .tabpanel.active{display: block;}
/* #infraTab .tabpannel 오타 있었어요 */

/* depth2 tab */
.dep2 .tablist{margin-left: 500px;background: pink;}
.dep2 .tablist::after{content:"";display: block;clear:both;}
.dep2 .tablist li{float: left;width: calc(100% / 3);}
.dep2 .tab:hover, .dep2 .tab:focus, .dep2 .tab.active{background: #222;color: #fff;cursor: pointer;}
.dep2 .tabpanel{height: 190px;background: yellow;}